Project Summary
This project seeks to run evaluations of the performance of LLM systems on multiple choice question (MCQ) datasets.

Software Stack
- Use poetry for virtual environments and dependency management
- Use autogen for running agents
- Use HuggingFace for loading datasets

